// Хлебные крошки ===============================================================================================================================================
.breadcrumbs {
	white-space: nowrap;
	overflow: auto;
	margin: 0 rem(-15);
	padding: 0 rem(15);
	display: flex;
}

.breadcrumbs::-webkit-scrollbar {
	display: none;
}

.breadcrumbs::-webkit-scrollbar-thumb {
	display: none;
}

.breadcrumbs__list {
	display: flex;
	align-items: center;

	.breadcrumbs__item {
		display: flex;
		align-items: center;
		&::after{
			content:''; 
			width: rem(10);
			height: rem(1);
			margin: 0 rem(10);
			background: rgba(2, 0, 32, 0.5);
			opacity: 0.7;
		}
		&:last-child{
			&::after {
				display: none;
			}
		}
	}

	.breadcrumbs__link {
		font-size: rem(14);
		font-weight: 400;
		line-height: math.div(18, 14);
		letter-spacing: 0em;
		color: rgba(2, 0, 32, 0.5);
		text-decoration: none;
		white-space: nowrap;
		// margin: 0 5px;
		transition: $mainTransition;

		&:first-child {
			margin-left: 0;
		}

		&:hover {
			color: #221F20;
		}
		@media (max-width: 480px){
			font-size: rem(12);
		}
	}

	.breadcrumbs__current {
		font-size: rem(14);
		font-weight: 400;
		line-height: math.div(18, 14);
		letter-spacing: 0em;
		color: $mainColor;
		// margin-left: 5px;
		white-space: nowrap;
		@media (max-width: 480px){
			font-size: rem(12);
			// line-height: 16px;
		}
	}
}
//========================================================================================================================================================

.pagging {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pagging__arrow {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	flex: 0 0 rem(20);
	width: rem(20);
	height: rem(20);
	background: #F0F2F8;
	&::before{
		font-size: rem(8);
	}
	@media (max-width: 414px){
		flex: 0 0 rem(30);
		width: rem(30);
		height: rem(30);
	}
}
.pagging__list {
	display: flex;
	align-items: center;
	@media (max-width: 414px){
		  li:nth-child(2),
		  li:nth-child(3),
		  li:nth-child(4),
		  li:nth-child(5) {
			display: none;
		  }
	}
}
.pagging__item {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(22, 16);
	letter-spacing: 0em;
	flex: 0 0 rem(20);
	width: rem(20);
	height: rem(20);
	margin: 0 rem(10) 0 rem(10);
	transition: $mainTransition;

	@media (max-width: 540px){
		font-size: rem(14);
		margin: 0 rem(3) 0 rem(3);
	}

	@media (max-width: 414px){
		flex: 0 0 rem(30);
		width: rem(30);
		height: rem(30);
	}

	@media (any-hover: hover) {
	&:hover {
		background: #F0F2F8;
	}
	}
	&._active {
		background: #F0F2F8;
	}
}

