<section class="page__order-call order-call">
	<div class="__container">

		<div class="order-call__inner">

			<div class="order-call__descp">
				<div class="order-call__title">Заказать звонок</div>
				<div class="order-call__text">Мы перезвоним в ближайшее время</div>
			</div>

			<form action="#" class="order-call__form form-order-call">
				<div class="form__line">
					<div class="form-order-call__input Input">
						<input name="form[]" autocomplete="off" type="text" id="input" class="Input-text" placeholder=" "
							data-error="Заполните поле" data-required data-validate>
						<div class="cut"></div>
						<label for="input" class="Input-label">Имя</label>
						<span class="Input__check _icon-check"></span>
					</div>
					<div class="form-order-call__input Input">
						<input name="form[]" autocomplete="off" type="text" id="input" class="Input-text tel" placeholder=" "
							data-error="Заполните поле" data-required data-validate>
						<div class="cut"></div>
						<label for="input" class="Input-label">Телефон</label>
						<span class="Input__check _icon-check"></span>
					</div>
					<button type="submit" class="form-order-call__btn btn">Заказать</button>
				</div>
				<div class="form-order-call__text">Заказывая звонок, Вы соглашаетесь с <a href="#">политикой
						конфиденциальности</a></div>
			</form>

		</div>

	</div>
</section>