//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: rem(14.5) rem(23.7);
	font-size: rem(16);
	font-weight: 600;
	color: #fff;
	background: $blueColor;
	border-radius: rem(3);
	transition: $mainTransition;

	@media (any-hover: hover) {
	&:hover {
		// background: $mediumGrey;
		background: rgba(18, 11, 141, 0.5);
	}
	}
	
	&.fw {
		width: 100%;
	}
	&::before{
		margin-top: rem(-2);
		margin-right: rem(10);
		font-size: rem(20);
	}
	&._btn_white {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		font-size: rem(16);
		font-weight: 400;
		line-height: rem(22);
		letter-spacing: 0em;
			color: rgba(2, 0, 32, 0.5);
			background-color: transparent;
			&::before{
				font-size: rem(13);
				margin-left: rem(10);
				margin-top: rem(1);
			}
			transition: $mainTransition;

			@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
			}
		}
}

.btn_light {
	color: $mainColor;
	background: $lightGrey;
	@media (any-hover: hover){
		 &:hover { 
			color: #fff;
			background: $blueColor;
	  } 
	}
}


