.making-order {
	.body-orders {
		background: rgb(240, 242, 248);
		@media (max-width: 480px){
			 padding: rem(15); 
		}
	}
	.information-orders__title {
	font-size: rem(24);
	font-weight: 500;
	line-height: math.div(31, 24);
	&::before{
		font-size: 16px;
	}
	}
	.information-orders__body {
		padding: rem(20) 0 0 0;
	}
	.item-card-order__total {
		flex-direction: column;
		align-items: flex-end;
		@media (max-width: 480px){
			 flex-direction: row;
		}
	}
	.item-card-order__price {
	@media (max-width: 480px){
		 flex-wrap: wrap; 
	}
	}
	.products-order__body {

	}
}

.making-order__products-order {
	&:not(:last-child){
		margin-bottom: rem(50);
	}
}

.making-order__buyer {
	&:not(:last-child){
		margin-bottom: rem(50);
	}
}

.item-making-order__title {
	font-size: rem(24);
	font-weight: 500;
	line-height: math.div(31, 24);
	&:not(:last-child){
		margin-bottom: rem(15);
	}
	@media (max-width: 480px){
		 font-size: rem(18); 
	}
}

.item-making-order {
}
.item-making-order__inputs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.item-making-order__input {
		margin-bottom: rem(10);
		&:first-child{
			flex: 0 1 100%;
		}
		flex: 0 1 49.5%;
		@media (max-width: 480px){
			 flex: 0 1 100%; 
		}
	}
}

.item-making-order__inputs_col {
	// flex-direction: column;
	.item-making-order__input {
		flex: 0 1 100%;
	}
	.input_textarea {
		height: rem(133);
		.input__label {
			top: rem(20);
		}
	}
}

.making-order__delivery {
	&:not(:last-child){
		margin-bottom: rem(50);
	}
}
.delivery-making-order {
	display: flex;
	flex-direction: column;
}
.delivery-making-order__item {
	&:not(:last-child){
		margin-bottom: rem(10);
	}
	background-color: #fff;
}
.item-delivery-making {
	display: flex;
	flex-direction: column;
	padding: rem(20);
	border-radius: rem(3);
	cursor: pointer;
	border: 1px solid #fff;
	&._active{
		background: rgb(240, 242, 248);
		border: 1px solid rgba(18, 11, 141, 1);
	}
}
.item-delivery-making__header {
	display: flex;
	justify-content: space-between;
	flex: 1 1 auto;
	&:not(:last-child){
		margin-bottom: rem(20);
	}
}

.item-delivery-making__title {
	font-size: rem(20);
	line-height: 25px;
	line-height: math.div(25, 20);
	flex: 1 1 auto;
	&:not(:last-child){
		margin-right: rem(15);
	}
	@media (max-width: 480px){
		  font-size: rem(16);
	}
}
.item-delivery-making__price {
	font-size: rem(16);
	font-weight: 600;
	line-height: math.div(20, 16);
	@media (max-width: 480px){
		 font-size: rem(14); 
	}
}
.item-delivery-making__descp {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.item-delivery-making__text {
	&:not(:last-child){
		margin-right: rem(20);
	}
	p {
	font-size: rem(14);
	font-weight: 400;
	line-height: math.div(18, 14);
	color: rgba(2, 0, 32, 0.5);
	@media (max-width: 480px){
		  font-size: rem(12);
	}

		a {
			transition: $mainTransition;

			@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
			}
		}

		&:not(:last-child){
			margin-bottom: rem(10);
		}
	}
}
.item-delivery-making__chekbox {
}

.making-order__item {
	&:not(:last-child){
		margin-bottom: rem(50);
	}
}

.delivery-making-order_flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	.delivery-making-order__item {
		flex: 0 1 49.5%;
		@media (max-width: 700px){
			  flex: 0 1 100%;
		}
	}

}

.item-delivery-making__icons {
	display: flex;
	align-items: center;
	gap: rem(13);
}
.item-delivery-making__icon  {
	flex: 0 0 rem(40);
	width: rem(40);
	height: rem(40);
	overflow: hidden;
	svg {
		flex: 0 1 100%;
		height: 100%;
		width: 100%;
	}
} 

.cart-summary {
	display: flex;
	flex-direction: column;
	@media (max-width: 768px){
		  position: fixed; 
		  bottom: rem(63);
		  left: 0%; 
		  z-index: 5; 
		  width: 100%; 
		  padding: rem(5) rem(15);
		  background-color: #fff;
	}
	@media (max-width: 515px){
		  bottom: rem(56);
	}
}
.cart-summary__value {
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(22, 16);
	color: rgba(2, 0, 32, 0.5);
	&:not(:last-child){
		margin-bottom: rem(5);
	}
}
.cart-summary__prices {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	&:not(:last-child){
		margin-bottom: rem(10);
	}
}
.cart-summary__price-new {
	font-size: rem(30);
	font-weight: 500;
	line-height: math.div(38, 30);
	&:not(:last-child){
		margin-right: rem(10);
	}
}
.new-price-card {
}
.cart-summary__price-old {
	font-size: rem(16);
	font-weight: 400;
	line-height: math.div(22, 16);
	align-self: flex-end;
}
.old-price-card {
}
.cart-summary__buttons {
	display: flex;
	flex-direction: column;
}
.cart-summary__btn {
	width: 100%;
	// background: rgba(18, 11, 141, 0.2);
	color: #fff;
	&:not(:last-child){ 
		margin-bottom: rem(10); 
	}
	transition: $mainTransition;

	@media (any-hover: hover) {
	&:hover {
		// color: $mainColor;
	}
	}
}
.btn {
}